.side-image-wrapper div img{
    max-width: 100%;
    object-fit: cover;
}

.home-container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-family: sans-serif;
    letter-spacing: normal;
    line-height: 1.6;
}

.post-image-wrapper{
    text-align: center;
}

.post-image-wrapper img{
    width: 50%;
    max-height: 100%;
    object-fit: cover;
}

.home-post-text{
    padding: 20px 20px;
}

.home-post-text a{
    border: 1px solid black;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    color: black;
}